# Python
__pycache__/
*.pyc
server/app.db

# Node
node_modules/
client/dist/

# Env
.env
server/.env
client/.env

# OS
.DS_Store

# venv
.venv
.venv/

# Local Postgres data if run via docker-compose
pgdata/

# Local git commit message file
commit_msg.txt

# doc
client/public/country-profiles/

# test report
server/report_uploads/